.circleElementIcon,
.circleStrokeIcon,
.starIcon {
  position: absolute;
  top: 113.9px;
  left: 169px;
  width: 76.1px;
  height: 76.1px;
  object-fit: cover;
}
.circleElementIcon,
.starIcon {
  top: 0;
  left: 176.9px;
  width: 45.3px;
  height: 18.2px;
}
.starIcon {
  top: 8.6px;
  left: 32.6px;
  width: 35.7px;
  height: 35.7px;
}
.circle1 {
  top: 18.2px;
  left: 56.7px;
  border-radius: 50%;
  background-color: var(--color-gray-800);
  width: 157.6px;
  height: 157.6px;
}
.circle1,
.circle2,
.icon {
  position: absolute;
}
.circle2 {
  top: 41.8px;
  left: 80.4px;
  border-radius: 50%;
  background-color: var(--color-lightsalmon);
  width: 110.3px;
  height: 110.3px;
}
.icon {
  top: 69.4px;
  left: 119.8px;
  width: 34.8px;
  height: 55.2px;
  object-fit: cover;
}
.you {
  position: relative;
  line-height: 100%;
}
.youWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0.79px;
  background-color: var(--color-dodgerblue-100);
  box-shadow: 1.6px 1.6px 9.85px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 3.9405503273010254px 4.7286601066589355px;
}
.clientChild {
  position: absolute;
  top: 0;
  left: 3.9px;
  width: 9.6px;
  height: 9.6px;
  object-fit: contain;
}
.client {
  position: absolute;
  top: 121.4px;
  left: 164.3px;
  width: 29.6px;
  height: 22.5px;
}
.launchpadWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.79px;
  background-color: var(--color-gray-800);
  box-shadow: 1.6px 1.6px 9.85px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.9405503273010254px 4.7286601066589355px;
}
.launchpadChild {
  position: absolute;
  top: 0;
  right: -5.5px;
  width: 9.6px;
  height: 9.6px;
  object-fit: contain;
}
.launchpad {
  position: absolute;
  top: 82.8px;
  left: 0;
  width: 50.4px;
  height: 22.9px;
  text-align: center;
}
.image {
  position: relative;
  width: 100%;
  height: 190px;
  display: none;
  opacity: 0.2;
  text-align: right;
  font-size: var(--font-size-7xs-5);
  color: var(--white);
  font-family: var(--v3-web-body-body-2);
}
