.category {
  align-self: stretch;
  position: relative;
  line-height: 170%;
  font-weight: 300;
}
.designingDifferentSolutions {
  align-self: stretch;
  position: relative;
  font-size: var(--app-bold-h4-size);
  line-height: 140%;
  color: var(--white);
}
.copy1,
.heading {
  align-self: stretch;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.copy1 {
  position: relative;
  line-height: 170%;
  font-weight: 300;
  color: var(--gray-3);
}
.copy {
  top: 57px;
  left: 549px;
  width: 510px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.content,
.copy,
.image {
  position: absolute;
}
.content {
  top: 237px;
  left: 335px;
  width: 1059px;
  height: 280px;
  font-size: var(--v3-web-sub-subheading-1-size);
  color: var(--foundation-launchpad-orange-normal);
}
.image {
  top: 242px;
  left: 402px;
  width: 297px;
  height: 297px;
}
.launchpadWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1.47px;
  background-color: var(--foundation-launchpad-orange-normal);
  box-shadow: 2.9px 2.9px 18.37px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.349747180938721px 8.819696426391602px;
}
.launchpadChild {
  position: absolute;
  top: 0;
  right: 0.2px;
  width: 17.8px;
  height: 17.8px;
  object-fit: contain;
}
.launchpad {
  position: absolute;
  top: 436px;
  right: 1323px;
  width: 94.1px;
  height: 42.6px;
  text-align: center;
}
.circleElementIcon {
  position: absolute;
  top: 203.8px;
  left: 685px;
  width: 68.9px;
  height: 44.1px;
  object-fit: cover;
}
.circleWhiteElement {
  position: absolute;
  top: 325.1px;
  left: 368.2px;
  border-radius: 50%;
  background-color: var(--white);
  width: 8.8px;
  height: 8.8px;
  opacity: 0;
}
.you {
  position: relative;
  line-height: 100%;
}
.youWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1.47px;
  background-color: var(--color-dodgerblue-100);
  box-shadow: 2.9px 2.9px 18.37px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 7.349747180938721px 8.819696426391602px;
}
.clientChild {
  position: absolute;
  top: 0;
  left: -0.3px;
  width: 17.8px;
  height: 17.8px;
  object-fit: contain;
}
.client {
  position: absolute;
  top: 317px;
  left: 668.8px;
  width: 55.1px;
  height: 41.9px;
  text-align: right;
}
.circleStrokeIcon {
  position: absolute;
  top: 439.7px;
  left: 636.5px;
  width: 56.6px;
  height: 56.6px;
  object-fit: cover;
}
.oblongElement {
  position: absolute;
  top: 452.9px;
  left: 649.7px;
  border-radius: 367.49px;
  background-color: var(--white);
  width: 26.5px;
  height: 26.5px;
  opacity: 0;
}
.rectangleOrangeIcon,
.whiteLightIcon {
  position: absolute;
  top: 269.9px;
  left: 452.7px;
  width: 158px;
  height: 111.7px;
  object-fit: cover;
}
.rectangleOrangeIcon {
  top: 459.6px;
  left: 480.9px;
  width: 106.8px;
  height: 25.1px;
}
.circle1,
.maskGroupIcon {
  position: absolute;
  top: 263.6px;
  left: 419px;
  width: 231.4px;
  height: 231.4px;
}
.circle1 {
  border-radius: 50%;
  background-color: var(--foundation-launchpad-orange-normal);
}
.maskGroupIcon {
  object-fit: cover;
}
.rectangle,
.squareBlack {
  position: absolute;
  top: 417.7px;
  left: 470.1px;
  background-color: var(--foundation-launchpad-orange-normal);
  width: 128.3px;
  height: 54.7px;
}
.squareBlack {
  top: 452.9px;
  left: 490.9px;
  background-color: var(--foundation-black-white-black);
  width: 86.1px;
  height: 75.4px;
}
.triangleGrayIcon,
.triangleWhiteIcon {
  position: absolute;
  top: 379.3px;
  left: 483.6px;
  width: 100.5px;
  height: 100.5px;
  object-fit: cover;
}
.triangleGrayIcon {
  left: 515px;
  width: 37.7px;
  height: 37.7px;
}
.process {
  position: relative;
  background-color: var(--color-gray-700);
  width: 100%;
  height: 716px;
  text-align: left;
  font-size: var(--font-size-2xs-3);
  color: var(--white);
  font-family: var(--v3-web-body-body-2);
}
