.imageIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 354px;
  height: 320px;
  object-fit: cover;
}
.profileChild {
  position: absolute;
  bottom: 213.2px;
  left: 108.3px;
  background-color: var(--foundation-launchpad-orange-normal);
  width: 98.4px;
  height: 22.7px;
  transform: rotate(-8.01deg);
  transform-origin: 0 0;
  display: none;
  mix-blend-mode: color-dodge;
}
.profile {
  position: relative;
  width: 100%;
  height: 320px;
}
