@import url("https://fonts.googleapis.com/css2?family=Circular+Std:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Perfect+DOS+VGA+437:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SFProText:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+UI+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rift:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --others-navigation: "Circular Std";
  --v3-web-body-body-2: Poppins;
  --font-perfect-dos-vga-437: "Perfect DOS VGA 437";
  --other-mobile-nav: "DM Sans";
  --font-sfprotext: SFProText;
  --font-sf-ui-display: "SF UI Display";
  --app-body-1: "Work Sans";
  --font-playfair-display: "Playfair Display";
  --font-rift: Rift;
  --default-bold-body: "SF Pro Text";
  --font-montserrat: Montserrat;
  --font-fira-sans: "Fira Sans";

  /* font sizes */
  --others-navigation-size: 10px;
  --v3-web-body-body-2-size: 14px;
  --font-size-2xs-7: 10.7px;
  --v3-web-other-button-1-size: 16px;
  --v3-web-sub-subheading-1-size: 18px;
  --font-size-xl-6: 20.6px;
  --v3-web-heading-heading-2-size: 32px;
  --v3-mobile-body-2-size: 12px;
  --font-size-61xl: 80px;
  --font-size-mini: 15px;
  --app-bold-h4-size: 24px;
  --font-size-21xl: 40px;
  --font-size-45xl: 64px;
  --v3-mobile-heading-3-size: 20px;
  --font-size-77xl: 96px;
  --v3-mobile-heading-2-size: 30px;
  --font-size-xs-5: 11.5px;
  --font-size-37xl: 56px;
  --font-size-29xl: 48px;
  --font-size-5xs-9: 7.9px;
  --font-size-23xl: 42px;
  --font-size-xs-1: 11.1px;
  --font-size-mid-3: 17.3px;
  --font-size-63xl: 82px;
  --font-size-171xl: 190px;
  --font-size-11xs-5: 1.5px;
  --font-size-10xs-4: 2.4px;
  --font-size-9xs-3: 3.3px;
  --font-size-8xs-3: 4.3px;
  --font-size-11xs-1: 1.1px;
  --font-size-12xs: 1px;
  --font-size-12xs-8: 0.8px;
  --default-bold-body-size: 17px;
  --font-size-11xs-2: 1.2px;
  --font-size-11xs-6: 1.6px;
  --font-size-11xs-8: 1.8px;
  --font-size-11xs-4: 1.4px;
  --font-size-11xs-3: 1.3px;
  --font-size-12xs-7: 0.7px;
  --font-size-11xs-7: 1.7px;
  --font-size-12xs-9: 0.9px;
  --font-size-10xs-9: 2.9px;
  --font-size-12xs-6: 0.6px;
  --font-size-7xs-5: 5.5px;
  --font-size-4xs-5: 8.5px;
  --font-size-xs-7: 11.7px;
  --font-size-7xs-8: 5.8px;
  --font-size-5xs-8: 7.8px;
  --font-size-3xs-1: 9.1px;
  --font-size-4xs-4: 8.4px;
  --font-size-2xs-4: 10.4px;
  --font-size-6xs-5: 6.5px;
  --font-size-5xs-1: 7.1px;
  --font-size-3xs-7: 9.7px;
  --font-size-sm-6: 13.6px;
  --font-size-7xs-4: 5.4px;
  --font-size-6xs-1: 6.1px;
  --font-size-5xs: 8px;
  --font-size-2xs-2: 10.2px;
  --font-size-8xl-6: 27.6px;
  --font-size-17xl-1: 36.1px;
  --font-size-3xs-6: 9.6px;
  --font-size-6xs-4: 6.4px;
  --font-size-5xs-5: 7.5px;
  --font-size-4xs-7: 8.7px;
  --font-size-xs-2: 11.2px;
  --font-size-5xs-4: 7.4px;
  --font-size-7xs-3: 5.3px;
  --font-size-8xs-9: 4.9px;
  --font-size-9xs-2: 3.2px;
  --font-size-9xs-8: 3.8px;
  --font-size-9xs-5: 3.5px;
  --font-size-10xs-7: 2.7px;
  --font-size-10xs: 3px;
  --font-size-9xs: 4px;
  --font-size-6xs-7: 6.7px;
  --font-size-7xs-7: 5.7px;
  --font-size-10xs-2: 2.2px;
  --font-size-8xs-5: 4.5px;
  --font-size-10xs-5: 2.5px;
  --font-size-8xs-1: 4.1px;
  --font-size-8xs-2: 4.2px;
  --font-size-base-1: 15.1px;
  --font-size-9xs-1: 3.1px;
  --font-size-9xs-6: 3.6px;
  --font-size-8xs-7: 4.7px;
  --font-size-12xs-5: 0.5px;
  --font-size-12xs-4: 0.4px;
  --font-size-12xs-3: 0.3px;
  --font-size-xs-3: 11.3px;
  --font-size-6xs-9: 6.9px;
  --font-size-5xs-6: 7.6px;
  --font-size-2xs-3: 10.3px;
  --font-size-4xs-1: 8.1px;
  --font-size-mid-7: 17.7px;
  --font-size-8xl-1: 27.1px;
  --font-size-base-7: 16.7px;
  --font-size-11xl-1: 30.1px;
  --font-size-7xs-1: 5.1px;
  --font-size-5xs-7: 7.7px;
  --font-size-3xs-3: 9.3px;
  --font-size-3xs-9: 9.9px;
  --font-size-9xs-4: 3.4px;
  --font-size-101xl: 120px;
  --font-size-11xs-9: 1.9px;
  --font-size-10xs-8: 2.8px;
  --font-size-9xs-7: 3.7px;

  /* Colors */
  --white: #fff;
  --color-midnightblue-100: #323292;
  --color-midnightblue-200: #1a065a;
  --foundation-purple-darker: #210059;
  --dark-background: #0a0a3e;
  --foundation-dark-navy-normal: #050935;
  --color-midnightblue-300: rgba(15, 1, 55, 0.85);
  --focused-state-bright-blue: #0064e6;
  --foundation-primary-vibrant-blue-normal: #4d8bff;
  --blue-1: #2f80ed;
  --color-dodgerblue-100: #0085ff;
  --focused-state-transparent-light-blue: rgba(46, 137, 255, 0.4);
  --focused-state-bright-yellow: #ffcb21;
  --color-gold-100: #fac907;
  --focused-state-transparent-yellow: rgba(255, 203, 33, 0.6);
  --gray-3: #828282;
  --color-gray-100: #1c2930;
  --color-gray-200: #242424;
  --color-gray-300: #222;
  --color-gray-400: #212121;
  --color-gray-500: #231f20;
  --color-gray-600: #0e1630;
  --color-gray-700: #161616;
  --color-gray-800: #181111;
  --color-gray-900: #111;
  --color-gray-1000: #0d0d0d;
  --color-gray-1100: rgba(0, 0, 0, 0.05);
  --color-gray-1200: rgba(0, 0, 0, 0.5);
  --color-gray-1300: rgba(255, 255, 255, 0.2);
  --color-gray-1400: rgba(255, 255, 255, 0.5);
  --color-gray-1500: rgba(255, 255, 255, 0.05);
  --color-gray-1600: rgba(0, 0, 0, 0.2);
  --color-gray-1700: rgba(35, 34, 40, 0.85);
  --color-gray-1800: rgba(255, 255, 255, 0);
  --icon-int-buts-gray-press-focus-overlay: rgba(122, 122, 122, 0.26);
  --icon-int-buts-gray-hover-overlay: rgba(122, 122, 122, 0.14);
  --foundation-black-white-black: #000;
  --foundation-launchpad-orange-normal: #ff4f00;
  --green-2: #27ae60;
  --color-silver-100: #c4c4c4;
  --color-silver-200: #bebebe;
  --gray-4: #bdbdbd;
  --color-silver-300: #9ebdbf;
  --gray-6: #f2f2f2;
  --athens-gray: #f1f1f2;
  --color-whitesmoke-100: #e9e9e9;
  --color-whitesmoke-200: rgba(241, 241, 242, 0.04);
  --color-whitesmoke-300: rgba(241, 241, 242, 0.2);
  --color-whitesmoke-400: rgba(241, 241, 242, 0.12);
  --color-yellow-100: #efef11;
  --foundation-yellow-normal: #deef06;
  --ghoast-mood: #eaeafe;
  --purple-light: #efe6ff;
  --color-lavender-100: #e4ecfa;
  --foundation-purple-light-hover: #e7d9ff;
  --purple-dark-hover: #380099;
  --navy-light: #e6e6eb;
  --color-gainsboro-100: #e6e6e6;
  --gray-2: #4f4f4f;
  --color-dimgray-100: #4d4d4d;
  --foundation-primary-teal-normal: #21a4ab;
  --color-darkcyan-100: rgba(33, 164, 171, 0.15);
  --color-darkslategray-100: #485550;
  --color-darkslategray-200: #424242;
  --color-darkslategray-300: #333;
  --brickfit-grey-1-text: #2e2e2e;
  --color-darkslategray-400: #182f43;
  --color-darkslategray-500: #09353d;
  --foundation-functional-error-normal: #ff2737;
  --color-crimson-100: #e32036;
  --color-crimson-200: #d22631;
  --color-tomato: rgba(245, 65, 65, 0.15);
  --color-goldenrod-100: #ffd34d;
  --yellow-orange: #faaf41;
  --color-seagreen-100: #589653;
  --color-seagreen-200: #189073;
  --color-mediumaquamarine: #6fcf97;
  --color-wheat: #ddd0a7;
  --color-oldlace: #f7f1de;
  --foundation-purple-normal: #5e00ff;
  --color-indigo-100: #2d0179;
  --foundation-purple-dark-active: #2a0073;
  --color-ghostwhite-100: #faf7ff;
  --color-ghostwhite-200: #f5f6fa;
  --color-steelblue: #7d6a9a;
  --foundation-dark-navy-light-active: #737387;
  --red: #eb5757;
  --color-darkolivegreen: #373b01;
  --foundation-purple-light-active: #cdb0ff;
  --color-mediumblue-100: #5c1ce5;
  --color-mediumblue-200: #5618d5;
  --color-mediumblue-300: #4f14c7;
  --foundation-purple-normal-active: #4b00cc;
  --color-honeydew: #f1feea;
  --color-limegreen: #5fc222;
  --color-darkgray-100: #b2b3c0;
  --color-darkgray-200: #adadad;
  --color-forestgreen: #469c49;
  --color-lightgoldenrodyellow: #d1f6d3;
  --main-liminal: #73c0bb;
  --color-darkseagreen: #91c17b;
  --main-social: #e57388;
  --ghoast-social: #fae3e7;
  --divider-color: #c1ecef;
  --main-emotional: #63b3ed;
  --ghoast-emotional: #e0f0fb;
  --main-physical: #f09136;
  --ghoast-physical: #fce9d7;
  --color-lightgreen: #8cdf86;
  --color-mediumpurple: #7479dc;
  --color-salmon: #e97f68;
  --color-lightsalmon: #ff9f74;
  --color-navajowhite: #ffe3a9;

  /* Gaps */
  --gap-33xl: 52px;
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-17xl-7: 36.7px;
  --gap-9xs-5: 3.5px;
  --gap-10xs-3: 2.3px;
  --gap-9xs-7: 3.7px;
  --gap-10xs-4: 2.4px;
  --gap-29xl: 48px;
  --gap-mini: 15px;
  --gap-25xl: 44px;
  --gap-8xs-1: 4.1px;
  --gap-10xs-7: 2.7px;
  --gap-8xs-5: 4.5px;
  --gap-10xs-9: 2.9px;
  --gap-41xl: 60px;
  --gap-45xl: 64px;
  --gap-3xs: 10px;
  --gap-101xl: 120px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-61xl: 80px;
  --gap-8xs: 5px;
  --gap-12xs-3: 0.3px;
  --gap-10xs-5: 2.5px;
  --gap-11xs-4: 1.4px;
  --gap-12xs-4: 0.4px;
  --gap-10xs-1: 2.1px;
  --gap-12xs-9: 0.9px;
  --gap-12xs-7: 0.7px;
  --gap-12xs-2: 0.2px;
  --gap-11xs-3: 1.3px;
  --gap-8xs-3: 4.3px;
  --gap-11xs-1: 1.1px;
  --gap-12xs-6: 0.6px;
  --gap-11xs-8: 1.8px;
  --gap-11xs-7: 1.7px;
  --gap-11xs-2: 1.2px;
  --gap-9xl-3: 28.3px;
  --gap-7xs-2: 5.2px;
  --gap-10xs-6: 2.6px;
  --gap-base-6: 15.6px;
  --gap-2xs-4: 10.4px;
  --gap-2xl-4: 21.4px;
  --gap-mini-9: 14.9px;
  --gap-6xs-2: 6.2px;
  --gap-10xl-9: 29.9px;
  --gap-4xs-5: 8.5px;
  --gap-6xs-9: 6.9px;
  --gap-sm-3: 13.3px;
  --gap-7xs-3: 5.3px;
  --gap-75xl-8: 94.8px;
  --gap-9xs-3: 3.3px;
  --gap-10xs-2: 2.2px;
  --gap-6xs-5: 6.5px;
  --gap-9xs-4: 3.4px;
  --gap-12xs: 1px;
  --gap-4xs-9: 8.9px;
  --gap-8xs-2: 4.2px;
  --gap-12xs-5: 0.5px;
  --gap-smi-5: 12.5px;
  --gap-7xs-5: 5.5px;
  --gap-20xl-5: 39.5px;
  --gap-12xs-1: 0.1px;
  --gap-3xs-3: 9.3px;
  --gap-7xl-7: 26.7px;
  --gap-5xl-2: 24.2px;
  --gap-5xs-7: 7.7px;
  --gap-xs-2: 11.2px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-9xs-1: 3.1px;
  --gap-7xs-9: 5.9px;
  --gap-6xs-7: 6.7px;

  /* Paddings */
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-xl: 20px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-9xs: 4px;
  --padding-29xl: 48px;
  --padding-61xl: 80px;
  --padding-7xs: 6px;
  --padding-213xl: 232px;
  --padding-35xl: 54px;
  --padding-41xl: 60px;
  --padding-205xl: 224px;
  --padding-11xs: 2px;
  --padding-10xs-1: 2.1px;
  --padding-11xs-4: 1.4px;
  --padding-12xs-9: 0.9px;
  --padding-12xs-2: 0.2px;
  --padding-11xs-1: 1.1px;
  --padding-12xs-7: 0.7px;
  --padding-10xs-9: 2.9px;
  --padding-12xs-6: 0.6px;
  --padding-12xs-8: 0.8px;
  --padding-11xs-3: 1.3px;
  --padding-11xs-2: 1.2px;
  --padding-11xs-6: 1.6px;
  --padding-12xs-5: 0.5px;
  --padding-12xs: 1px;
  --padding-9xs-9: 3.9px;
  --padding-8xs-7: 4.7px;
  --padding-2xs-4: 10.4px;
  --padding-mini-3: 14.3px;
  --padding-7xs-2: 5.2px;
  --padding-8xs-9: 4.9px;
  --padding-3xs-7: 9.7px;
  --padding-8xs-3: 4.3px;
  --padding-4xs-6: 8.6px;
  --padding-mini-9: 14.9px;
  --padding-6xs-2: 6.2px;
  --padding-5xs-5: 7.5px;
  --padding-8xs: 5px;
  --padding-8xs-2: 4.2px;
  --padding-6xs-4: 6.4px;
  --padding-8xs-8: 4.8px;
  --padding-lgi-2: 19.2px;
  --padding-7xs-9: 5.9px;
  --padding-10xs-2: 2.2px;
  --padding-8xs-1: 4.1px;
  --padding-11xs-8: 1.8px;
  --padding-9xs-6: 3.6px;
  --padding-10xs-6: 2.6px;
  --padding-9xs-1: 3.1px;
  --padding-10xs-7: 2.7px;
  --padding-12xs-4: 0.4px;
  --padding-12xs-1: 0.1px;
  --padding-12xs-3: 0.3px;
  --padding-4xs-1: 8.1px;
  --padding-7xs-4: 5.4px;
  --padding-6xs-5: 6.5px;
  --padding-5xs-3: 7.3px;
  --padding-4xs-8: 8.8px;
  --padding-7xs-8: 5.8px;
  --padding-6xs-9: 6.9px;
  --padding-3xl-2: 22.2px;
  --padding-mini-8: 14.8px;
  --padding-xl-4: 20.4px;
  --padding-xl-3: 20.3px;
  --padding-3xl-3: 22.3px;
  --padding-4xs-2: 8.2px;
  --padding-45xl: 64px;
  --padding-54xl: 73px;
  --padding-11xs-5: 1.5px;
  --padding-11xs-7: 1.7px;
  --padding-9xs-5: 3.5px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-25xl: 44px;
  --br-21xl: 40px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-45xl: 64px;
  --br-6xs-7: 6.7px;
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-11xs-3: 1.3px;
  --br-xl: 20px;
  --br-5xl: 24px;
  --br-981xl: 1000px;
  --br-1979xl-4: 1998.4px;
  --br-46xl-1: 65.1px;
  --br-2xs-8: 10.8px;
  --br-base: 16px;
  --br-37xl: 56px;
  --br-481xl: 500px;
  --br-35xl-7: 54.7px;
  --br-3xs: 10px;
  --br-10xs-8: 2.8px;
  --br-9xs-6: 3.6px;
  --br-10xs-3: 2.3px;
  --br-13xs: 0px;
  --br-9xs-3: 3.3px;
  --br-12xs-3: 0.3px;
  --br-10xs-4: 2.4px;
  --br-4xs-9: 8.9px;
  --br-10xs-1: 2.1px;
  --br-11xs-4: 1.4px;
  --br-8xs-5: 4.5px;
  --br-12xs-1: 0.1px;
  --br-11xs-8: 1.8px;
  --br-12xs-7: 0.7px;
  --br-337xl-7: 356.7px;
  --br-12xs-6: 0.6px;
  --br-12xs-4: 0.4px;
  --br-16xl-2: 35.2px;
  --br-9xs-5: 3.5px;
  --br-11xs-6: 1.6px;
  --br-5xs-2: 7.2px;
  --br-12xs-2: 0.2px;
  --br-12xs-5: 0.5px;
  --br-12xs-9: 0.9px;
  --br-11xs-2: 1.2px;
  --br-11xs-7: 1.7px;
  --br-12xs-8: 0.8px;
  --br-11xs-1: 1.1px;
  --br-mini-4: 14.4px;
  --br-45xl-8: 64.8px;
  --br-8xs-4: 4.4px;
  --br-5xs-8: 7.8px;
  --br-2xs-4: 10.4px;
  --br-base-6: 15.6px;
  --br-7xs-2: 5.2px;
  --br-mini-8: 14.8px;
  --br-2xs-7: 10.7px;
  --br-smi-2: 12.2px;
  --br-5xs-3: 7.3px;
  --br-6xs-4: 6.4px;
  --br-5xl-9: 24.9px;
  --br-8xl-8: 27.8px;
  --br-43xl-3: 62.3px;
  --br-12xl-1: 31.1px;
  --br-smi-5: 12.5px;
  --br-8xs: 5px;
  --br-8xs-3: 4.3px;
  --br-246xl-4: 265.4px;
  --br-7xl-5: 26.5px;
  --br-20xl: 39px;
  --br-7xs: 6px;
  --br-8xl: 27px;
  --br-9xs-2: 3.2px;
  --br-6xs-5: 6.5px;
  --br-10xs-2: 2.2px;
  --br-6xs-2: 6.2px;
  --br-7xs-1: 5.1px;
  --br-10xs: 3px;
  --br-8xs-1: 4.1px;
  --br-10xs-7: 2.7px;
  --br-xs-6: 11.6px;
  --br-6xl-9: 25.9px;
  --br-8xs-2: 4.2px;
  --br-smi: 13px;
  --br-91xl-6: 110.6px;
  --br-xs-1: 11.1px;
  --br-mini-1: 14.1px;
  --br-12xs: 1px;
  --br-348xl-5: 367.5px;
  --br-11xs-5: 1.5px;
  --br-46xl: 65px;
  --br-xs-7: 11.7px;
  --br-3xs-2: 9.2px;
  --br-mini-2: 14.2px;
  --br-2xs-2: 10.2px;
  --br-6xs-1: 6.1px;
  --br-3xs-5: 9.5px;
  --br-13xl: 32px;
  --br-8xs-6: 4.6px;
  --br-9xs-4: 3.4px;
  --br-7xs-3: 5.3px;
  --br-9xs-8: 3.8px;
  --br-9xs-1: 3.1px;
  --br-11xs: 2px;
  --br-10xs-6: 2.6px;

  /* Effects */
  --card-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1);
  --card-shadow1: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
